.button {
    padding: 0 1.2rem;
    font-size: 1.2rem;
    min-width: 5rem;
    justify-content: center;
    height: 40px;
    border-radius: 2rem;
    color: var(--gray-100);
    background-color: var(--green-200);
    cursor: pointer;

    transition: background-color 0.2s ease;

    &:active {
        background-color: var(--green-100);
    }

    &:disabled {
        background-color: var(--gray-200);
        color: white;
        cursor: not-allowed;
    }
}

.disabledButton {
    background-color: var(--gray-200);
    color: white;
    cursor: not-allowed;

    &:active {
        background-color: var(--gray-200);
    }

}

.smallButton {
    font-size: 1rem;
    min-width: max-content;
}