.checkbox {
    cursor: pointer;
    transition: "opacity 0.2s";
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}