.stars {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    color: var(--green-200);

    p {
        margin-left: 0.25rem;
    }

    svg {
        width: 1.125rem;
        height: 1.125rem;
    }
}

.starsInteractive {
    gap: .5rem;
    cursor: pointer;
    svg {
        width: 2rem;
        height: 2rem;
    }
}